.App {
  text-align: center;
}

.noworking {
  animation: App-logo-spin infinite 40s linear;
  height: 10vmin;
  background-color: green;
  transition: 1s;
  border-radius: 12mm;
  border: 0px;
  font-size: 2em;
}

.working {
  animation: App-logo-spin infinite 40s linear;
  height: 40vmin;
  animation-direction: reverse;
  background-color: yellow;
  color: red;
  border-top-left-radius: 50mm;
  border-bottom-left-radius: 70mm;
  margin-left: 50%;
  transition: 3s;
  border: 0px;
  font-size: 1em;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
